
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@500&family=Space+Mono&display=swap');

/*

    font-family: 'Lora', serif;

    font-family: 'Manrope', sans-serif;

    font-family: 'Space Mono', monospace;

*/
:root {
    --font-family: 'Manrope', sans-serif;

    --gradient-text: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,35,156,1) 100%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-bg: #ff8a71;
    --color-footer: linear-gradient(166deg, rgba(95,47,153,1) 0%, rgba(240,124,221,1) 100%);
    --color-blog: #042c54;
    --color-text: #fff;
    --color-subtext: #ff8a71;
}